NOTION_TOKEN=""
RAWG_KEY=""
STEAM_KEY=""
STEAM_USER_ID=""
STEAM_FAMILY_IDS=""

SUPABASE_URL="https://nxqmlaunqntcgqtvtwfp.supabase.co"
SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54cW1sYXVucW50Y2dxdHZ0d2ZwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQyMzAwNywiZXhwIjoyMDkwOTk5MDA3fQ.Y4UIArd6HHhc9rYrvxin8hxeqBNiN-vl-hWspmc2YzI"
SUPABASE_USER_ID="00d3aed3-8988-4988-9a85-3adc6fb904d7"
